<?xml version="1.0" encoding="UTF-8"?>
<!-- - - Licensed under the Apache License, Version 2.0 (the "License"); 
	- you may not use this file except in compliance with the License. - You 
	may obtain a copy of the License at - - http://www.apache.org/licenses/LICENSE-2.0 
	- - Unless required by applicable law or agreed to in writing, software - 
	distributed under the License is distributed on an "AS IS" BASIS, - WITHOUT 
	WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. - See the 
	License for the specific language governing permissions and - limitations 
	under the License. -->
<!DOCTYPE mycat:server SYSTEM "server.dtd">
<mycat:server xmlns:mycat="http://org.opencloudb/">
	<system>
	
		<property name="defaultSqlParser">druidparser</property>
		<!-- 1 关闭分布式事务，2 开启分布式事务 -->
		<property name="handleDistributedTransactions">2</property>
		<!-- 0表示不开启sqlstat功能,该功能很影响tps,需要优化,默认先关闭,1表示开启 -->
		<property name="useSqlStat">0</property>

		<property name="processorBufferChunk">40960</property>
		<property name="processors">8</property> 
		<property name="processorExecutor">8</property> 
		<property name="serverPort">8066</property> 
		<property name="managerPort">9066</property>
		<property name="idleTimeout">300000</property>
		 <!-- 后端连接空闲超时关闭时间,程序中默认300s,在大数据取数时加大该时间,单位为s -->
		<property name="sqlExecuteTimeout">7200</property>
		<property name="bindIp">0.0.0.0</property> 
		<property name="frontWriteQueueSize">40960</property>
	

		<!--是否开启结果集流式输出,0不开启，1开启-->
		<property name="useStreamOutput">0</property>

		<!--off heap for merge/order/group/limit -->
		<property name="useOffHeapForMerge">1</property>
		<!--内存页大小,单位为m-->
		<property name="memoryPageSize">32k</property>
		<!--写文件临时buffer大小,单位为k -->
		<property name="spillsFileBufferSize">32k</property>
		<!--Mycat 系统预留内存,单位为m -->
		<property name="systemReserveMemorySize">384m</property>

		<!--SQL STAT相关参数配置 -->
		<!--后台线程定时采集信息入H2DB库 单位ms-->
		<property name="enableSqlStat">0</property>
		<property name="monitorUpdatePeriod">60000</property>
		<!--sql stat 在内存驻留的时间 单位ms-->
		<property name="sqlInMemDBPeriod">60000</property>
		<!--到当前时间 SQL 执行结果集 TOP N ，sqlInMemDBPeriod/8周期汇聚一次-->
		<property name="topExecuteResultN">100</property>
		<!--到当前时间 SQL 执行时间 TOP N ，sqlInMemDBPeriod/8周期汇聚一次-->
		<property name="topSqlExecuteTimeN">100</property>
		<!--到当前时间 SQL 执行次数 TOP N ，sqlInMemDBPeriod/8周期汇聚一次-->
		<property name="topSqlExecuteCountN">100</property>
		<!--每隔sqlRecordInDiskPeriod天从磁盘删除过期的sql,以天为单位-->
		<property name="sqlRecordInDiskPeriod">7</property>
		<!--限制并发查询，控制CPU消耗 1开启,0关闭-->
		<property name="limitConcurrentQuery">0</property>
		<!-- 大sql查询时,配置processor使用比例 -->
		<property name="processorsRatio">0.5</property>
	</system>

	<!-- 定义迁移到 user.xml -->
	<!-- <user name="test">
		<property name="password">test</property>
		<property name="schemas">testdb</property>
	</user> -->

	<sqlwall>
		<!--SQL 防火墙总开关
           -1 关闭防火墙，关闭拦截,
            0 开启防火墙，关闭拦截，不记录监控表里，打印警告log日志信息，
            1 开启防火墙，打开拦截，在client端提示信息
            2 开启防火墙，关闭拦截，拦截信息记录到录监控表里，不打印log日志
         -->
		<property name="enableSQLFirewall">-1</property>
		<!-- 是否启用正则表达式匹配SQL-->
		<property name="enableRegEx">false</property>
		<!-- 允许结果集，超过了maxAllowResultRow 动态添加到SQL黑名单中 -->
		<property name="maxAllowResultRow">1000000</property>
		<!-- maxAllowExecuteUnitTime s 内最大允许执行次数，超过了动态添加到SQL黑名单中 -->
		<property name="maxAllowExecuteTimes">2000000</property>
		<!-- 单位为s 默认配置1s-->
		<property name="maxAllowExecuteUnitTime">1</property>

		<!-- 单位为ms,一条sql执行的时间，超过了countInMaxAllowExecuteSqlTime次数, 则动态加入SQL黑名单中 -->
		<property name="maxAllowExecuteSqlTime">20000</property>
		<property name="countInMaxAllowExecuteSqlTime">1000000</property>

		<!-- 配置规则 -->
		<property name="strictSyntaxCheck">false</property>
	</sqlwall>

</mycat:server>
