<?xml version="1.0" encoding="UTF-8"?>
<!-- - - Licensed under the Apache License, Version 2.0 (the "License"); 
	- you may not use this file except in compliance with the License. - You 
	may obtain a copy of the License at - - http://www.apache.org/licenses/LICENSE-2.0 
	- - Unless required by applicable law or agreed to in writing, software - 
	distributed under the License is distributed on an "AS IS" BASIS, - WITHOUT 
	WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. - See the 
	License for the specific language governing permissions and - limitations 
	under the License. -->
<!DOCTYPE mycat:server SYSTEM "server.dtd">
<mycat:server xmlns:mycat="http://org.opencloudb/">
	<system>
	
		<property name="defaultSqlParser">druidparser</property>
		<property name="handleDistributedTransactions">2</property>
		<property name="useSqlStat">0</property> <!-- 0表示不开启sqlstat功能,该功能很影响tps,需要优化,默认先关闭,1表示开启 -->
     
        	<property name="processorBufferChunk">40960</property>
		<property name="processors">8</property> 
		<property name="processorExecutor">8</property> 
		<property name="serverPort">8066</property> 
		<property name="managerPort">9066</property> 
		<property name="idleTimeout">300000</property>
		<property name="bindIp">0.0.0.0</property> 
		<property name="frontWriteQueueSize">40960</property>

       	 	<!--是否开启结果集流式输出,0不开启，1开启-->
       		 <property name="useStreamOutput">0</property>

		<!--off heap for merge/order/group/limit -->
		<property name="useOffHeapForMerge">1</property>
		<!--内存页大小,单位为m-->
		<property name="memoryPageSize">1m</property>
		<!--写文件临时buffer大小,单位为k -->
		<property name="spillsFileBufferSize">1k</property>
		<!--Mycat 系统预留内存,单位为m -->
		<property name="systemReserveMemorySize">384m</property>

	</system>

	<user name="test">
		<property name="password">test</property>
		<property name="schemas">testdb</property>
	</user>



	<sqlwall>
		<!-- SQL 防火墙总开关 0 关闭，不记录直接打印警告信息，1开启，2 关闭，并记录拦截信息-->
		<property name="enableSQLFirewall">1</property>
		<!-- 是否启用正则表达式匹配SQL-->
		<property name="enableRegEx">false</property>
		<!-- 允许结果集，超过了maxAllowResultRow 动态添加到SQL黑名单中 -->
		<property name="maxAllowResultRow">1000000</property>
		<!-- maxAllowExecuteUnitTime s 内最大允许执行次数，超过了动态添加到SQL黑名单中 -->
		<property name="maxAllowExecuteTimes">20000</property>
		<!-- 单位为s 默认配置1s-->
		<property name="maxAllowExecuteUnitTime">1</property>
		<!-- 单位为s,一条sql执行的时间，超过了, 则动态加入SQL黑名单中 -->
		<property name="maxAllowExecuteSqlTime">2</property>

		<property name="selectAllColumnAllow">true</property>
		<property name="strictSyntaxCheck">true</property>
		<property name="deleteWhereNoneCheck">true</property>
	</sqlwall>


</mycat:server>
